-- MariaDB dump 10.19-11.3.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cinterlabs
-- ------------------------------------------------------
-- Server version	11.3.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `gene_seq_integ`
--

DROP TABLE IF EXISTS `gene_seq_integ`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gene_seq_integ` (
  `isolate_code` varchar(100) NOT NULL,
  `sequence` text NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`isolate_code`),
  CONSTRAINT `gene_seq_integ_ibfk_1` FOREIGN KEY (`isolate_code`) REFERENCES `isolate` (`isolate_code`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gene_seq_integ`
--

LOCK TABLES `gene_seq_integ` WRITE;
/*!40000 ALTER TABLE `gene_seq_integ` DISABLE KEYS */;
/*!40000 ALTER TABLE `gene_seq_integ` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `is_shared_to`
--

DROP TABLE IF EXISTS `is_shared_to`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `is_shared_to` (
  `email` varchar(255) NOT NULL,
  `isolate_code` varchar(255) NOT NULL,
  PRIMARY KEY (`email`,`isolate_code`),
  KEY `isolate_code` (`isolate_code`),
  CONSTRAINT `is_shared_to_ibfk_1` FOREIGN KEY (`email`) REFERENCES `users` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `is_shared_to`
--

LOCK TABLES `is_shared_to` WRITE;
/*!40000 ALTER TABLE `is_shared_to` DISABLE KEYS */;
INSERT INTO `is_shared_to` VALUES
('ramnickfrancisramos@gmail.com','B1I1'),
('ramnickfrancisramos@gmail.com','B1I2'),
('ramnickfrancisramos@gmail.com','B2I1'),
('ramnickfrancisramos@gmail.com','B2I2'),
('ramnickfrancisramos@gmail.com','B3I1'),
('ramnickfrancisramos@gmail.com','B3I2'),
('ramnickfrancisramos@gmail.com','B4I1'),
('ramnickfrancisramos@gmail.com','B6I1'),
('ramnickfrancisramos@gmail.com','B7I1'),
('ramnickfrancisramos@gmail.com','SAMPLE_CODE');
/*!40000 ALTER TABLE `is_shared_to` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `isolate`
--

DROP TABLE IF EXISTS `isolate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `isolate` (
  `isolate_code` varchar(10) NOT NULL,
  `type_of_sample` varchar(100) DEFAULT NULL,
  `bat_source` varchar(100) DEFAULT NULL,
  `sampling_site` text DEFAULT NULL,
  `gram_reaction` varchar(20) DEFAULT NULL,
  `cell_shape` varchar(50) DEFAULT NULL,
  `oxygen_requirement` varchar(50) DEFAULT NULL,
  `presence_of_cytochrome_c_oxidase` varchar(50) DEFAULT NULL,
  `endospore_forming_capability` varchar(50) DEFAULT NULL,
  `antibiotic_resistance_profile` text DEFAULT NULL,
  `identity` varchar(100) DEFAULT NULL,
  `pathogenicity` varchar(100) DEFAULT NULL,
  `gene_seq` longtext DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`isolate_code`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `isolate`
--

LOCK TABLES `isolate` WRITE;
/*!40000 ALTER TABLE `isolate` DISABLE KEYS */;
/*!40000 ALTER TABLE `isolate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(100) NOT NULL,
  `role` enum('admin','user') NOT NULL DEFAULT 'user',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `approved` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES
(1,'admin_rpramos5','useruser','rpramos5@up.edu.ph','admin','2024-07-23 08:28:45','2025-06-04 14:16:22',1),
(2,'Ramos, Ramnick Francis','','ramnick','user','2024-07-23 09:37:43','2024-08-08 05:53:59',0),
(3,'Ramnnic Francis Ramos','useruser','ramnickfrancisramos@gmail.com','user','2024-07-23 09:38:44','2024-08-08 05:54:02',1),
(4,'Ramnick Trial','useruser','ramnicktrial@gmail.com','user','2024-07-23 11:28:23','2024-08-08 05:54:03',0),
(5,'Tester Account','testpass','tester@up.edu.ph','user','2025-11-20 04:05:15','2025-11-20 04:05:15',1);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'cinterlabs'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-23 16:14:36
